@model deneme2.Models.Tercuman
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Tercuman ekle</h2>
<br />

@using (Html.BeginForm("TercumanGuncelle", "Tercuman", FormMethod.Post))
{
    @Html.LabelFor(x=>x.TrcId)
    ;
    @Html.TextBoxFor(x=>x.TrcId , new {@class="form-control"})
    ;
    @Html.LabelFor(x=>x.TrcAdi)
    ;
    @Html.TextBoxFor(x=>x.TrcAdi , new {@class="form-control"})
    ;
    @Html.ValidationMessageFor(x=> x.TrcAdi,"",new {@style="color:red;"})
    @Html.LabelFor(x=>x.TrcSoyadi)
    ;
    @Html.TextBoxFor(x=>x.TrcSoyadi , new {@class="form-control"})
    ;
    <br />
    <button>güncelle</button>
}