@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<takim1.Models.TeknikDirektor>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 key=4 >Teknik Direktörler</h2>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col"><span key=8>Adı</span></th>
            <th scope="col"><span key =9>Soyadı</span></th>
            <th scope="col"><span key=10>Yaş</span></th>
            <th scope="col"><span key=11>Takımı</span></th>
            <th scope="col"><span key=12>Maaş</span></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <th scope="row"></th>
                <td>@m.TeknikDirektorId</td>
                <td>@m.TeknikDirektorAdi</td>
                <td>@m.TeknikDirektorSoyadi</td>
                <td>@m.TeknikDirektorYas</td>
                <td>@m.Takim.TakimAdi</td>
                <td>@m.TeknikDirektorMaas mil. €</td>
                <td> <a href="/TeknikDirektor/TeknikDirektorGet/@m.TeknikDirektorId"><button key=15 class="btn btnGuncelle">Guncelle</button> </td>
                <td> <a href="/TeknikDirektor/TeknikDirektorSil/@m.TeknikDirektorId"><button key=16 class="btn btnSil">Sil</button> </a> </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,page => Url.Action("Index",new {page}))
<a asp-action="TeknikDirektorEkle" asp-controller="TeknikDirektor"><button key=14 class="btn btnEkle">Teknik Direktor Ekle</button> </a>