@model deneme2.Models.Kullanici
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Kullanici ekle</h2>
<br />

@using (Html.BeginForm("KullaniciEkle", "Kullanici", FormMethod.Post))
{
    
    @Html.LabelFor(x=>x.KullaniciAdi);
    @Html.TextBoxFor(x=>x.KullaniciAdi , new {@class="form-control"});
    @Html.LabelFor(x=>x.KullaniciSoyadi);
    @Html.TextBoxFor(x=>x.KullaniciSoyadi , new {@class="form-control"});
    @Html.LabelFor(x=>x.KullaniciMail);
    @Html.TextBoxFor(x=>x.KullaniciMail , new {@class="form-control"});
    @Html.LabelFor(x=>x.KullaniciSifre);
    @Html.TextBoxFor(x=>x.KullaniciSifre, new {@class="form-control"});
    
    <br />
    <button>ekle</button>
}

