@model takim1.Models.Futbolcu
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 key=20 >futbolcu ekle</h2>
<br />

@using (Html.BeginForm("FutbolcuEkle", "Futbolcu", FormMethod.Post))
{
    @Html.LabelFor(x=>x.FutbolcuAdi);
    @Html.TextBoxFor(x=>x.FutbolcuAdi , new {@class="form-control"});
    <br />
    @Html.LabelFor(x=>x.FutbolcuSoyadi);
    @Html.TextBoxFor(x=>x.FutbolcuSoyadi , new {@class="form-control"});
    <br />
    @Html.LabelFor(x=>x.FutbolcuMevki);
    @Html.TextBoxFor(x=>x.FutbolcuMevki , new {@class="form-control"});
    <br />
    @Html.LabelFor(x=>x.FutbolcuNumara);
    @Html.TextBoxFor(x=>x.FutbolcuNumara , new {@class="form-control"});
    <br />
    @Html.LabelFor(x=>x.TakimId);
    @Html.DropDownListFor(x=>x.TakimId ,(List<SelectListItem>)ViewBag.kt1, new {@class="form-control"});
    <br />
    @Html.LabelFor(x=>x.FutbolcuYas);
    @Html.TextBoxFor(x=>x.FutbolcuYas , new {@class="form-control"});
    <br />
    @Html.LabelFor(x=>x.FutbolcuMaas);
    @Html.TextBoxFor(x=>x.FutbolcuMaas , new {@class="form-control"});
    <br />
    @Html.LabelFor(x=>x.FutbolcuDeger);
    @Html.TextBoxFor(x=>x.FutbolcuDeger , new {@class="form-control"});
    <br />
    @Html.LabelFor(x=>x.FutbolcuGecmis);
    @Html.TextAreaFor(x=>x.FutbolcuGecmis , new {@class="form-control"});
    <br />
    @Html.LabelFor(x=>x.FutbolcuResimUrl);
    @Html.TextBoxFor(x=>x.FutbolcuResimUrl , new {@class="form-control"});
    <br />
    <button key=17 >ekle</button>
}
