@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<takim1.Models.Futbolcu>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 key=3 >Futbolcular</h2>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col"><span key=8>Adı</span></th>
            <th scope="col"><span key=9>Soyadı</span></th>
            <th scope="col"><span key=10>Yaş</span></th>
            <th scope="col"><span key=19>Mevki</span></th>
            <th scope="col"><span key=11>Takımı</span></th>
            @*<th scope="col">Durum</th>*@
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
                <tr>
                    <th scope="row"></th>
                    <td>@m.FutbolcuId</td>
                    <td>@m.FutbolcuAdi</td>
                    <td>@m.FutbolcuSoyadi</td>
                    <td>@m.FutbolcuYas</td>
                    <td>@m.FutbolcuMevki</td>
                    <td>@m.Takim.TakimAdi</td>
                    @*<td>@m.KtgDurum</td>*@
                    <td> <a href="/Futbolcu/FutbolcuGet/@m.FutbolcuId"><button key=15 class="btn btnGuncelle">Guncelle</button> </td>
                    <td> <a href="/Futbolcu/FutbolcuSil/@m.FutbolcuId"><button key=16 class="btn btnSil">Sil</button> </a> </td>
                </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,page => Url.Action("Index",new {page}))
<a asp-action="FutbolcuEkle" asp-controller="Futbolcu"><button key=20 class="btn btnEkle ">Futbolcu Ekle</button> </a>