@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<takim1.Models.Takim>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Takımlar</h2>
<br />
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Adı</th>
            <th scope="col">Sampiyonluk</th>
            <th scope="col">Deger</th>
            <th scope="col">Kurulus Tarihi</th>
            <th scope="col">Durum</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <th scope="row"></th>
                <td>@m.TakimId</td>
                <td>@m.TakimAdi</td>
                <td>@m.TakimSampiyonluk</td>
                <td>@m.TakimDeger</td>
                <td>@m.TakimKurulus</td>
                <td>@m.TakimDurum</td>
                <td> <a href="/Takim/TakimGet/@m.TakimId"><button class="btn btnGuncelle">Guncelle</button> </td>
                <td> <a href="/Takim/TakimSil/@m.TakimId"><button class="btn btnSil">Sil</button> </a> </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,page => Url.Action("Index",new {page}))
<a asp-action="TakimEkle" asp-controller="Takim"><button class="btn btnEkle" style="">Takim Ekle</button> </a>