@model takim1.Models.Takim
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 key =26 >Takım Ekle</h2>
<br />

@using (Html.BeginForm("TakimEkle", "Takim", FormMethod.Post))
{
    @Html.Label("Takım Adı");
    @Html.TextBoxFor(x=>x.TakimAdi , new {@class="form-control"});
    @Html.ValidationMessageFor(x=>x.TakimAdi, "", new {@style= "color:#00F054" } )
    <br />
    @Html.Label("Takım Sampiyonluk Sayısı");
    @Html.TextBoxFor(x=>x.TakimSampiyonluk , new {@class="form-control"});
    <br />
    @Html.Label("Takımın Degeri");
    @Html.TextBoxFor(x=>x.TakimDeger , new {@class="form-control"});
    <br />
    @Html.Label("Takımın Kuruluş Yılı");
    @Html.TextBoxFor(x=>x.TakimKurulus , new {@class="form-control"});
    <br />
    @Html.Label("Takımın Resmi");
    @Html.TextBoxFor(x=>x.TakimResimUrl , new {@class="form-control"});
    
    <br />
    <button key=17 >ekle</button>
}
