@model IEnumerable<takim1.Models.Futbolcu>
<style>
    .futbolcu-kartlar a{
        background-color: #019DB6;
        color:white;
    }
    .futbolcu-kartlar a:hover{
        background-color:darkgreen;
    }
</style>
<p style="font-size:55px; font-weight:700; text-align:center; color:#49B6CA;">Futbolcuları</p>
<div class="futbolcu-kartlar" style="
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;
    width:80%;
    margin-right:auto;
    margin-left:auto; ">
    @foreach (var f in Model)
    {
        <div class="futbolcu-kart" style="
            width:17rem;
            border: 3px #49B6CA solid;
            border-radius: 10px;
            padding-bottom:10px;
            margin:10px;
            margin-bottom:30px;
">
            <div class="list-group">
                <div class="futbolcuItem"><img class="" style="width:150px;height:120px;margin-left:4vw; margin-top:10px;" src="@f.FutbolcuResimUrl"></div>
                <div class="futbolcuItem" style="text-align:center;">
                    <b style="font-size: 25px; margin-bottom:20px; color:darkgreen;">@f.FutbolcuAdi @f.FutbolcuSoyadi</b>
                </div>
            </div>
            <div class="list-group" style="text-align:center;">


                <ul class="list-group">
                    <li class="list-group-item"><b style="color:darkgreen;">Mevki =</b> @f.FutbolcuMevki</li>
                    <li class="list-group-item"><b style="color:darkgreen;">Numara =</b> @f.FutbolcuNumara</li>
                    <li class="list-group-item"><b style="color:darkgreen;">Yas =</b> @f.FutbolcuYas</li>
                    <li class="list-group-item"><b style="color:darkgreen;">Takım Id =</b> @f.TakimId</li>
                </ul>
                <div class="">
                    <a href="~/AnaSayfa/FutbolcuDetay/@f.FutbolcuId" class="list-group-item futbolcuItem" style="margin-top:10px;">detay</a>
                </div>
            </div>
        </div>
    }

</div>
