@model deneme2.Models.Yazar
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>yazar ekle</h2>
<br />

@using (Html.BeginForm("YazarEkle", "Yazar", FormMethod.Post))
{
    @Html.LabelFor(x=>x.YazarAdi);
    @Html.TextBoxFor(x=>x.YazarAdi , new {@class="form-control"});
    @Html.ValidationMessageFor(x=> x.YazarAdi,"",new {@style="color:red;"})
    <br />
    @Html.LabelFor(x=>x.YazarSoyadi);
    @Html.TextBoxFor(x=>x.YazarSoyadi , new {@class="form-control"});
    <br />
    <button>ekle</button>
}

