@model deneme2.Models.Yazar
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>yazar ekle</h2>
<br />

@using (Html.BeginForm("YazarGuncelle", "Yazar", FormMethod.Post))
{
    @Html.LabelFor(x=>x.YazarId);
    @Html.TextBoxFor(x=>x.YazarId , new {@class="form-control"});
    @Html.LabelFor(x=>x.YazarAdi);
    @Html.TextBoxFor(x=>x.YazarAdi , new {@class="form-control"});
    @Html.ValidationMessageFor(x=> x.YazarAdi,"",new {@style="color:red;"})
    @Html.LabelFor(x=>x.YazarSoyadi);
    @Html.TextBoxFor(x=>x.YazarSoyadi , new {@class="form-control"});    
    <br />
    <button>güncelle</button>
}